# Node
node_modules
npm-debug.log

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo

# Env
.env
.env.local
.env.*.local

# Build
dist
build

# Logs
logs
*.log

# Prisma
prisma/migrations/migration_lock.toml

# Tests
coverage
.nyc_output

# Misc
.DS_Store
*.bak
*.tmp
