services:
  # Nginx Reverse Proxy
  nginx:
    image: nginx:alpine
    container_name: jogodasorte-nginx
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - ../nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ../nginx/api.conf:/etc/nginx/api.conf:ro
      - ../ssl:/etc/nginx/ssl:ro
      - ../nginx/logs:/var/log/nginx
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 128M
          cpus: '0.2'
        reservations:
          memory: 64M
          cpus: '0.1'
    networks:
      - app-net
networks:
  app-net:
    external: true


  
